{
	data = {
		icons = (
			{
				icon = "http://file101.mafengwo.net/s9/M00/B3/62/wKgBs1aYaoOAemyYAAAR5AX98Vc203.png";
				"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=1&id=201";
				title = "\U653b\U7565";
			},
			{
				icon = "http://file108.mafengwo.net/s9/M00/81/8C/wKgBs1Y5zc6AUP6hAAAUkoATO8o416.png";
				"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=12&mddid=10094&type_id=3";
				title = "\U666f\U70b9";
			},
			{
				icon = "http://file101.mafengwo.net/s9/M00/83/C9/wKgBs1Y50ryAeKYpAAANU_AQcTk543.png";
				"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=12&mddid=10094&type_id=2";
				title = "\U9152\U5e97";
			},
			{
				icon = "http://file108.mafengwo.net/s9/M00/97/2A/wKgBs1bYAt6ACxDkAAAQPoqjAlY307.png";
				"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=12&mddid=10094&type_id=1";
				title = "\U7f8e\U98df";
			},
			{
				icon = "http://file102.mafengwo.net/s9/M00/84/23/wKgBs1Y508eAX-c3AAASTIfMiMg614.png";
				"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=11&mddid=10094";
				title = "\U6e38\U8bb0";
			},
			{
				icon = "http://file101.mafengwo.net/s9/M00/84/2B/wKgBs1Y509qAZyCjAAAPsVPiTTs732.png";
				"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=19&mddid=10094";
				title = "\U95ee\U7b54";
			},
			{
				icon = "http://file106.mafengwo.net/s9/M00/83/F1/wKgBs1Y500KABXsnAAAQspJndcU788.png";
				"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=12&mddid=10094&type_id=4";
				title = "\U8d2d\U7269";
			},
			{
				icon = "http://file103.mafengwo.net/s9/M00/83/E8/wKgBs1Y50xqAYwuuAAAUPNDgqP4258.png";
				"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=12&mddid=10094&type_id=5";
				title = "\U5a31\U4e50";
			},
		);
		list = (
			{
				data = {
					"jump_url" = "#";
					list = (
						{
							distance = 2018;
							id = 11920;
							"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=3&id=11920";
							lat = "34.62979888916";
							lng = "112.41400146484";
							name = "\U6d1b\U6d66\U516c\U56ed";
							"type_id" = 3;
						},
						{
							distance = 2754;
							id = 6813490;
							"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=3&id=6813490";
							lat = "34.629396873936";
							lng = "112.44230903497";
							name = "\U6843\U82b1\U5e84\U6e90";
							"type_id" = 1;
						},
						{
							distance = 2665;
							id = 1502688;
							"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=3&id=1502688";
							lat = "34.624512";
							lng = "112.445535";
							name = "\U9a6c\U6770\U5c71\U725b\U8089\U6c64\U9986(\U9526\U79c0\U5e97)";
							"type_id" = 1;
						},
						{
							distance = 2421;
							id = 6813083;
							"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=3&id=6813083";
							lat = "34.625769262074";
							lng = "112.44129532407";
							name = "\U8001\U674e\U5bb6\U725b\U8089\U6c64\U5b9c\U4eba\U8def";
							"type_id" = 1;
						},
						{
							distance = 2200;
							id = 35571;
							"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=3&id=35571";
							lat = "34.623882293701";
							lng = "112.43997955322";
							name = "\U8fea\U6b27\U5496\U5561(\U592a\U5eb7\U8def\U5e97)";
							"type_id" = 5;
						},
						{
							distance = 2391;
							id = 35584;
							"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=3&id=35584";
							lat = "34.62474822998";
							lng = "112.44179534912";
							name = "\U8c6a\U67cf\U56fd\U9645\U7f8e\U5bb9SPA\U517b\U751f\U4f1a\U6240";
							"type_id" = 5;
						},
						{
							distance = 1473;
							id = 6945346;
							"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=3&id=6945346";
							lat = "34.624802720715";
							lng = "112.42611714513";
							name = "\U6b63\U5b97\U97e9\U57ce\U7f8a\U8089\U6c64\U5b66\U5e9c\U8857";
							"type_id" = 1;
						},
						{
							distance = 2211;
							id = 6945380;
							"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=3&id=6945380";
							lat = "34.629839444924";
							lng = "112.40870878928";
							name = "\U91d1\U94ed\U8bb0\U6e05\U771f\U725b\U8089\U6c64\U6d77\U68e0\U8def";
							"type_id" = 1;
						},
						{
							distance = 2553;
							id = 6945434;
							"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=3&id=6945434";
							lat = "34.633799237706";
							lng = "112.41016455988";
							name = "\U5927\U4f17\U539f\U6c41\U725b\U8089\U6c64\U5357\U82d1\U8def";
							"type_id" = 1;
						},
						{
							distance = 2850;
							id = 6945491;
							"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=3&id=6945491";
							lat = "34.636892226645";
							lng = "112.41107107361";
							name = "\U9a6c\U8bb0\U6d46\U9762\U6761\U7cca\U6d82\U9762\U5357\U660c\U8def";
							"type_id" = 1;
						},
						{
							distance = 1519;
							id = 6945582;
							"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=3&id=6945582";
							lat = "34.625269627194";
							lng = "112.4260534628";
							name = "\U6000\U5e9c\U9a74\U8089\U6c64\U5b66\U5e9c\U8857";
							"type_id" = 1;
						},
						{
							distance = 2974;
							id = 6945588;
							"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=3&id=6945588";
							lat = "34.626325199261";
							lng = "112.44814694663";
							name = "\U5f00\U5c01\U9648\U8bb0\U9a74\U8089\U6c64\U9986\U5b9c\U4eba\U8def";
							"type_id" = 1;
						},
					);
					"sub_title" = "";
					title = "\U9644\U8fd1\U5730\U56fe";
				};
				style = "map_poi";
			},
			{
				data = {
					bottom = "\U67e5\U770b\U66f4\U591a";
					"has_more" = 1;
					"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=49&mddid=10094";
					list = (
						{
							id = 1529015861620463;
							img = {
								height = 1280;
								simg = "http://file110.mafengwo.net/s9/M00/CD/28/wKgBs1bqG_SAXPYQAA3nCzdBcIU51.jpeg?imageMogr2%2Fstrip";
								width = 720;
							};
							"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=49&mddid=10094";
							lat = "34.361427307129";
							lng = "111.71537780762";
							owner = {
								id = 19519376;
								logo = "http://file103.mafengwo.net/s9/M00/83/3D/wKgBs1bFa4-AP-kwAAIvLuHbpPY78.jpeg?imageMogr2%2Fstrip";
							};
						},
						{
							id = 1528988235958536;
							img = {
								height = 1800;
								simg = "http://file112.mafengwo.net/s9/M00/A4/AD/wKgBs1bptQqADz0JABLde7kpzRQ21.jpeg?imageMogr2%2Fstrip";
								width = 1080;
							};
							"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=49&mddid=10094";
							lat = "34.524036407471";
							lng = "112.18329620361";
							owner = {
								id = 48296657;
								logo = "http://file111.mafengwo.net/s9/M00/A4/C1/wKgBs1bptX6AGBgsAAEQFlDtpLA29.jpeg?imageMogr2%2Fstrip";
							};
						},
						{
							id = 1528972157427114;
							img = {
								height = 600;
								simg = "http://file107.mafengwo.net/s9/M00/91/54/wKgBs1bpdXSASW92AALC46x8a_c69.jpeg?imageMogr2%2Fstrip";
								width = 800;
							};
							"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=49&mddid=10094";
							lat = "34.427379608154";
							lng = "112.42005157471";
							owner = {
								id = 70174955;
								logo = "http://file106.mafengwo.net/s9/M00/94/1B/wKgBs1bpeZaAa6cbAABFwAHQGAs46.jpeg?imageMogr2%2Fstrip";
							};
						},
					);
					title = "\U65c5\U884c\U76f4\U64ad";
				};
				style = wengs;
			},
			{
				data = {
					bottom = "\U67e5\U770b\U66f4\U591a";
					"has_more" = 1;
					"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=1006&keyword=%E6%B4%9B%E9%98%B3&key=local%3D10094&hide_search=1";
					list = (
						{
							discount = "9.2\U6298";
							id = 365964;
							"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=9&id=365964";
							"num_follows" = 200;
							"price_current" = 920;
							"price_suffix" = "";
							tag = "\U9f99\U95e8\U77f3\U7a9f";
							thumbnail = "http://file102.mafengwo.net/s9/M00/A6/E0/wKgBs1bjuzWAO4Z0AAnYNpNCGq072.jpeg?imageMogr2%2Fstrip%7CimageMogr2%2Fthumbnail%2F%21240x180r%2Fgravity%2FCenter%2Fcrop%2F%21240x180%2Fquality%2F90";
							title = "\U3010\U9b45\U529b\U6cb3\U5357\U3011\U3010\U5929\U5929\U53d1\U56e2\U3011\U90d1\U5dde\U51fa\U53d1\U2014\U2014\U5c11\U6797\U5bfa+\U9f99\U95e8\U77f3\U7a9f+\U4e91\U53f0\U5c71+\U5f00\U5c01A\U7ebf(\U6e05\U56ed\U7ebf)3\U65e5\U6e38\Uff08\U767d\U56ed+\U5305\U516c\U7960+\U5317\U5b8b\U94c1\U5854\U3001\U542b\U4e24\U665a\U4f4f\U5bbf+\U5927\U5df4\U5f80\U8fd4\Uff01\Uff09";
							"type_color" = "#12bcc4";
							type = "\U4e00\U65e5\U6e38";
						},
						{
							discount = "8.7\U6298";
							id = 365703;
							"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=9&id=365703";
							"num_follows" = 168;
							"price_current" = 299;
							"price_suffix" = "";
							tag = "\U9f99\U95e8\U77f3\U7a9f";
							thumbnail = "http://file102.mafengwo.net/s9/M00/A6/E0/wKgBs1bjuzWAO4Z0AAnYNpNCGq072.jpeg?imageMogr2%2Fstrip%7CimageMogr2%2Fthumbnail%2F%21240x180r%2Fgravity%2FCenter%2Fcrop%2F%21240x180%2Fquality%2F90";
							title = "\U3010\U9b45\U529b\U6cb3\U5357\U3011\U3010\U5929\U5929\U53d1\U56e2\U3011\U90d1\U5dde\U51fa\U53d1\U2014\U2014\U5c11\U6797\U5bfa\U3001\U9f99\U95e8\U77f3\U7a9f\U7cbe\U534e\U4e00\U65e5\U6e38\Uff08\U9999\U5c71\U5bfa+\U767d\U56ed\U3001\U5927\U5df4\U5f80\U8fd4\Uff09";
							type = "\U4e00\U65e5\U6e38";
							"type_color" = "#12bcc4";
						},
						{
							discount = "";
							id = 328161;
							"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=9&id=328161";
							"num_follows" = 9713;
							"price_current" = 8;
							"price_suffix" = "\U8d77/\U4eba";
							tag = "\U897f\U85cf";
							thumbnail = "http://file103.mafengwo.net/s9/M00/EC/19/wKgBs1ZyUBmARTO3AADvkn357aw10.jpeg?imageMogr2%2Fstrip%7CimageMogr2%2Fthumbnail%2F%21240x180r%2Fgravity%2FCenter%2Fcrop%2F%21240x180%2Fquality%2F90";
							title = "\U5b89\U8054\U5883\U5185\U201c\U7545\U4eab\U81ea\U9a7e\U201d\U610f\U5916\U4fdd\U969c\U8ba1\U5212";
							type = "\U4fdd\U9669";
							"type_color" = "#12bcc4";
						},
					);
					title = "\U81ea\U7531\U884c\U7279\U60e0";
				};
				style = sales;
			},
			{
				data = {
					bottom = "\U67e5\U770b182\U4e2a\U666f\U70b9";
					"has_more" = 1;
					"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=12&mddid=10094&type_id=3";
					list = (
						{
							desc = "\U6d1b\U9633\U662f\U4e2a\U4f60\U63a5\U89e6\U5f97\U8d8a\U8fd1\U3001\U8d8a\U6df1\Uff0c\U5c31\U8d8a\U89c9\U5f97\U81ea\U5df1\U77e5\U8bc6\U6d45\U8584\U7684\U5730\U65b9\U3002\U8fd9\U5ea7\U53e4\U90fd\U6709\U7740\U592a\U591a\U7684\U6587\U5316\U79ef\U6dc0\Uff0c\U4e0d\U4ec5\U968f\U5904\U53ef\U89c1\U6587\U7269\U53e4\U8ff9\Uff0c\U5c31\U8fde\U8352\U5c71\U91ce\U5730\U4e2d\U7684\U6b8b\U57a3\U65ad\U58c1\U3001\U788e\U7816\U7247\U74e6\Uff0c\U90fd\U6709\U4e00\U6bb5\U4ee4\U4eba\U8361\U6c14\U56de\U80a0\U7684\U6545\U4e8b\U3002\U5f53\U4f60\U559d\U7740\U675c\U5eb7\U9152\U65f6\Uff0c\U8033\U8fb9\U81ea\U4f1a\U54cd\U8d77\U66f9\U64cd\U201c\U5bf9\U9152\U5f53\U6b4c\Uff0c\U4eba\U751f\U51e0\U4f55\U201d\U7684\U8c6a\U8a00\U58ee\U8bed\Uff1b\U5f53\U4f60\U770b\U5230\U57cb\U846c\U5173\U7fbd\U9996\U7ea7\U7684\U5173\U6797\U65f6\Uff0c\U4f3c\U4e4e\U201c\U6e29\U9152\U65a9\U534e\U96c4\U201d\U3001\U201c\U5175\U8d25\U8d70\U9ea6\U57ce\U201d\U7684\U6545\U4e8b\U5c31\U53d1\U751f\U5728\U6628\U5929\U3002";
							id = 11620;
							"img_url" = "http://file101.mafengwo.net/s6/M00/65/AD/wKgB4lNHV1GAOzQTAAPJZ0LATcg13.jpeg?imageMogr2%2Fstrip%7CimageMogr2%2Fthumbnail%2F%21240x240r%2Fgravity%2FCenter%2Fcrop%2F%21240x240%2Fquality%2F90";
							"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=12&mddid=10094&type_id=3&theme_id=11620";
							"sub_title" = "<font color=\"#ff9d00\">10</font>\U4e2a\U65c5\U884c\U5730\U63a8\U8350";
							title = "\U6d1b\U9633\U5fc5\U6e38TOP10";
						},
						{
							desc = "\U6d1b\U9633\U662f\U6709\U7740\U7740\U539a\U91cd\U7684\U5386\U53f2\U548c\U4eba\U6587\U5e95\U8574\U7684\U4e00\U5ea7\U57ce\U5e02\Uff0c\U5982\U679c\U60f3\U4e86\U89e3\U4e00\U5ea7\U57ce\U6c60\Uff0c\U60f3\U77e5\U9053\U5b83\U5728\U65f6\U5149\U4e2d\U7ecf\U5386\U4e86\U54ea\U4e9b\U6ca7\U6851\U5de8\U53d8\Uff0c\U535a\U7269\U9986\U4e00\U5b9a\U662f\U6700\U4f73\U53bb\U5904\U3002";
							id = 11632;
							"img_url" = "http://file103.mafengwo.net/s2/M00/64/7A/wKgBpU5kYwfRO1yRAAddcWInXh041.jpeg?imageMogr2%2Fstrip%7CimageMogr2%2Fthumbnail%2F%21240x240r%2Fgravity%2FCenter%2Fcrop%2F%21240x240%2Fquality%2F90";
							"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=12&mddid=10094&type_id=3&theme_id=11632";
							"sub_title" = "<font color=\"#ff9d00\">10</font>\U4e2a\U65c5\U884c\U5730\U63a8\U8350";
							title = "\U6700\U5177\U9b45\U529b\U535a\U7269\U9986";
						},
						{
							desc = "\U505a\U4e3a\U5386\U53f2\U6587\U5316\U540d\U57ce\Uff0c\U6d1b\U9633\U81ea\U7136\U5c11\U4e0d\U4e86\U90a3\U4e9b\U954c\U523b\U7740\U5386\U53f2\U5370\U8bb0\U7684\U53e4\U8001\U5efa\U7b51\U3002";
							id = 11633;
							"img_url" = "http://file103.mafengwo.net/s1/M00/45/D5/wKgBm07jL9vVk9XMAAIECF_Unck85.jpeg?imageMogr2%2Fstrip%7CimageMogr2%2Fthumbnail%2F%21240x240r%2Fgravity%2FCenter%2Fcrop%2F%21240x240%2Fquality%2F90";
							"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=12&mddid=10094&type_id=3&theme_id=11633";
							"sub_title" = "<font color=\"#ff9d00\">8</font>\U4e2a\U65c5\U884c\U5730\U63a8\U8350";
							title = "\U5386\U53f2\U60a0\U4e45\U7684\U53e4\U5efa\U7b51";
						},
					);
					title = "\U53bb\U54ea\U73a9";
				};
				style = "tops_list";
			},
			{
				data = {
					"jump_url" = "";
					list = (
						{
							"choice_percent" = "0.42";
							id = 2134;
							"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=12&mddid=10094&type_id=2&area_id=2134";
							lat = "34.672502305381";
							lng = "112.43421090039";
							name = "\U897f\U5de5\U533a";
							"num_pois" = 282;
							"region_gps" = (
								{
									lat = "34.684080537881";
									lng = "112.40532899454";
								},
								{
									lat = "34.68886211095";
									lng = "112.39852691248";
								},
								{
									lat = "34.688959151087";
									lng = "112.40800583913";
								},
								{
									lat = "34.689373775843";
									lng = "112.42141151979";
								},
								{
									lat = "34.689704591979";
									lng = "112.42982829168";
								},
								{
									lat = "34.689717824596";
									lng = "112.44128132417";
								},
								{
									lat = "34.689761933308";
									lng = "112.44856620386";
								},
								{
									lat = "34.689779576785";
									lng = "112.45096979841";
								},
								{
									lat = "34.69002658508";
									lng = "112.45328756228";
								},
								{
									lat = "34.678545433994";
									lng = "112.4591196905";
								},
								{
									lat = "34.673454995455";
									lng = "112.46234689086";
								},
								{
									lat = "34.671197533153";
									lng = "112.46377944193";
								},
								{
									lat = "34.667563460394";
									lng = "112.46644044473";
								},
								{
									lat = "34.641810721231";
									lng = "112.42607856446";
								},
								{
									lat = "34.647796210843";
									lng = "112.41851406448";
								},
								{
									lat = "34.657226617579";
									lng = "112.41784476952";
								},
								{
									lat = "34.662208434406";
									lng = "112.42035121002";
								},
								{
									lat = "34.66355887449";
									lng = "112.4196134349";
								},
								{
									lat = "34.664189692513";
									lng = "112.41776392344";
								},
								{
									lat = "34.667079520592";
									lng = "112.41754519506";
								},
								{
									lat = "34.667352801855";
									lng = "112.41835228328";
								},
								{
									lat = "34.666999301732";
									lng = "112.41906523748";
								},
								{
									lat = "34.665374570884";
									lng = "112.41958992367";
								},
								{
									lat = "34.669766837671";
									lng = "112.42308547065";
								},
								{
									lat = "34.669927942083";
									lng = "112.42151700702";
								},
								{
									lat = "34.673442035972";
									lng = "112.41733070739";
								},
								{
									lat = "34.673292312431";
									lng = "112.41443643623";
								},
								{
									lat = "34.67660326264";
									lng = "112.41350168639";
								},
								{
									lat = "34.679731007407";
									lng = "112.40987265759";
								},
								{
									lat = "34.682474855467";
									lng = "112.40500713044";
								},
							);
						},
						{
							"choice_percent" = "0.3";
							id = 2132;
							"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=12&mddid=10094&type_id=2&area_id=2132";
							lat = "34.67840376933";
							lng = "112.4704747356";
							name = "\U6d1b\U9633\U8001\U57ce";
							"num_pois" = 50;
							"region_gps" = (
								{
									lat = "34.678575213549";
									lng = "112.45910192054";
								},
								{
									lat = "34.671163619135";
									lng = "112.46380115073";
								},
								{
									lat = "34.667563462548";
									lng = "112.4664404444";
								},
								{
									lat = "34.67185186655";
									lng = "112.47635388892";
								},
								{
									lat = "34.669557686262";
									lng = "112.48598838371";
								},
								{
									lat = "34.670755521012";
									lng = "112.49569764506";
								},
								{
									lat = "34.672094516519";
									lng = "112.49806838256";
								},
								{
									lat = "34.674439635608";
									lng = "112.49613920389";
								},
								{
									lat = "34.676911520589";
									lng = "112.49167466714";
								},
								{
									lat = "34.678439420578";
									lng = "112.49098953042";
								},
								{
									lat = "34.680306417427";
									lng = "112.49015418999";
								},
								{
									lat = "34.683616810981";
									lng = "112.48867126376";
								},
								{
									lat = "34.685238185699";
									lng = "112.48849675256";
								},
								{
									lat = "34.686594315386";
									lng = "112.48926704948";
								},
								{
									lat = "34.689476327371";
									lng = "112.49090152064";
								},
								{
									lat = "34.692753549893";
									lng = "112.49085961117";
								},
								{
									lat = "34.693938919587";
									lng = "112.49014916109";
								},
								{
									lat = "34.695679452994";
									lng = "112.49057345287";
								},
								{
									lat = "34.6975608088";
									lng = "112.49159897864";
								},
								{
									lat = "34.69893162178";
									lng = "112.49184532269";
								},
								{
									lat = "34.696499260767";
									lng = "112.4768683703";
								},
								{
									lat = "34.694490248669";
									lng = "112.46652627509";
								},
								{
									lat = "34.692470160988";
									lng = "112.45952135097";
								},
								{
									lat = "34.690026582927";
									lng = "112.45328890305";
								},
							);
						},
						{
							"choice_percent" = "0.19";
							id = 2133;
							"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=12&mddid=10094&type_id=2&area_id=2133";
							lat = "34.648047259677";
							lng = "112.40335513197";
							name = "\U6da7\U897f\U533a";
							"num_pois" = 165;
							"region_gps" = (
								{
									lat = "34.641810119988";
									lng = "112.426077649";
								},
								{
									lat = "34.625439116506";
									lng = "112.41296768188";
								},
								{
									lat = "34.610323195081";
									lng = "112.39528656006";
								},
								{
									lat = "34.606296527454";
									lng = "112.38550186157";
								},
								{
									lat = "34.596676659466";
									lng = "112.35189244151";
								},
								{
									lat = "34.597230291587";
									lng = "112.35124200583";
								},
								{
									lat = "34.602011355825";
									lng = "112.34994113445";
								},
								{
									lat = "34.608487597518";
									lng = "112.34992772341";
								},
								{
									lat = "34.61628170878";
									lng = "112.35271051526";
								},
								{
									lat = "34.624075088245";
									lng = "112.35463500023";
								},
								{
									lat = "34.629561965286";
									lng = "112.35295057297";
								},
								{
									lat = "34.63767463901";
									lng = "112.34614849091";
								},
								{
									lat = "34.642330902332";
									lng = "112.34317660332";
								},
								{
									lat = "34.661813755465";
									lng = "112.33505487442";
								},
								{
									lat = "34.671652731049";
									lng = "112.32739448547";
								},
								{
									lat = "34.68502833364";
									lng = "112.32078552246";
								},
								{
									lat = "34.684393129613";
									lng = "112.33563423157";
								},
								{
									lat = "34.688862612778";
									lng = "112.3985273391";
								},
								{
									lat = "34.686513765699";
									lng = "112.40186635405";
								},
								{
									lat = "34.685337663003";
									lng = "112.40353720263";
								},
								{
									lat = "34.684741885899";
									lng = "112.40438804962";
								},
								{
									lat = "34.68444399574";
									lng = "112.40481414367";
								},
								{
									lat = "34.684082142531";
									lng = "112.40532740951";
								},
								{
									lat = "34.683302464109";
									lng = "112.40517251194";
								},
								{
									lat = "34.682476460148";
									lng = "112.40500688553";
								},
								{
									lat = "34.679734817843";
									lng = "112.40986973047";
								},
								{
									lat = "34.678114713814";
									lng = "112.41174995899";
								},
								{
									lat = "34.677284798009";
									lng = "112.4127034843";
								},
								{
									lat = "34.676889688991";
									lng = "112.4131668359";
								},
								{
									lat = "34.67659066769";
									lng = "112.41351116449";
								},
								{
									lat = "34.67633355538";
									lng = "112.41357386112";
								},
								{
									lat = "34.674764670477";
									lng = "112.41402514279";
								},
								{
									lat = "34.673973599315";
									lng = "112.4142454192";
								},
								{
									lat = "34.67329060848";
									lng = "112.41443619132";
								},
								{
									lat = "34.67344226216";
									lng = "112.41733163595";
								},
								{
									lat = "34.671651903829";
									lng = "112.41945996881";
								},
								{
									lat = "34.670763327976";
									lng = "112.42052413523";
								},
								{
									lat = "34.670305800756";
									lng = "112.42106158286";
								},
								{
									lat = "34.669921067836";
									lng = "112.42152124643";
								},
								{
									lat = "34.66976665025";
									lng = "112.42308497429";
								},
								{
									lat = "34.66537776152";
									lng = "112.41959273815";
								},
								{
									lat = "34.666222136035";
									lng = "112.41931781173";
								},
								{
									lat = "34.667001423755";
									lng = "112.41906568408";
								},
								{
									lat = "34.667352735071";
									lng = "112.41835221648";
								},
								{
									lat = "34.66707918667";
									lng = "112.41754353046";
								},
								{
									lat = "34.664188673477";
									lng = "112.41776414216";
								},
								{
									lat = "34.663557170338";
									lng = "112.41961620748";
								},
								{
									lat = "34.662208660624";
									lng = "112.4203504622";
								},
								{
									lat = "34.657224775404";
									lng = "112.41784393787";
								},
								{
									lat = "34.647795609643";
									lng = "112.41851381958";
								},
								{
									lat = "34.644744443053";
									lng = "112.42237117141";
								},
								{
									lat = "34.643215507641";
									lng = "112.42430252954";
								},
							);
						},
					);
					title = "\U4f4f\U54ea\U91cc";
				};
				style = "hotel_mdd_areas";
			},
			{
				data = {
					bottom = "\U67e5\U770b\U66f4\U591a";
					"has_more" = 1;
					"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=12&mddid=10094&type_id=1";
					list = (
						{
							desc = "";
							id = 7977;
							"img_url" = "http://file102.mafengwo.net/s5/M00/2D/FE/wKgB3FGoCCSAH6uvAAESe8Sz2QA77.jpeg?imageMogr2%2Fstrip%7CimageMogr2%2Fthumbnail%2F%21240x240r%2Fgravity%2FCenter%2Fcrop%2F%21240x240%2Fquality%2F90";
							"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=12&mddid=10094&type_id=1&theme_id=7977";
							"sub_title" = "<font color=\"#ff9d00\">9</font>\U4e2a\U65c5\U884c\U5730\U63a8\U8350";
							title = "\U6d1b\U9633\U6c34\U5e2d";
						},
						{
							desc = "";
							id = 7983;
							"img_url" = "http://file109.mafengwo.net/s2/M00/C9/3C/wKgBpU5l5L35gh1pAAL45Ecpg4U38.jpeg?imageMogr2%2Fstrip%7CimageMogr2%2Fthumbnail%2F%21240x240r%2Fgravity%2FCenter%2Fcrop%2F%21240x240%2Fquality%2F90";
							"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=12&mddid=10094&type_id=1&theme_id=7983";
							"sub_title" = "<font color=\"#ff9d00\">5</font>\U4e2a\U65c5\U884c\U5730\U63a8\U8350";
							title = "\U80e1\U8fa3\U6c64";
						},
						{
							desc = "";
							id = 7982;
							"img_url" = "http://file108.mafengwo.net/s2/M00/C9/9F/wKgBpU5l5Vu6nuK3AAP0yqzV0wE36.jpeg?imageMogr2%2Fstrip%7CimageMogr2%2Fthumbnail%2F%21240x240r%2Fgravity%2FCenter%2Fcrop%2F%21240x240%2Fquality%2F90";
							"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=12&mddid=10094&type_id=1&theme_id=7982";
							"sub_title" = "<font color=\"#ff9d00\">2</font>\U4e2a\U65c5\U884c\U5730\U63a8\U8350";
							title = "\U725b\U8089\U6c64";
						},
					);
					title = "\U7279\U8272\U7f8e\U98df";
				};
				style = "3_squares";
			},
			{
				data = {
					bottom = "\U67e5\U770b\U66f4\U591a";
					"has_more" = 0;
					"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=40&mddid=10094";
					list = (
						{
							"img_url" = "http://file104.mafengwo.net/s7/M00/25/B7/wKgB6lP0V8OACZGIAAZS2u4-JRs14.jpeg?imageMogr2%2Fstrip%7CimageMogr2%2Fthumbnail%2F%21200x200r%2Fgravity%2FCenter%2Fcrop%2F%21200x200%2Fquality%2F90";
							"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=10&id=11527&in_tab=1";
							"sub_title" = "\U76f8\U8ddd<font color='#ff9d00'>126</font>\U516c\U91cc";
							title = "\U4e91\U53f0\U5c71";
						},
						{
							"img_url" = "http://file106.mafengwo.net/s9/M00/B7/8D/wKgBs1bhGcSAGO5DAAEm2vMzD1888.jpeg?imageMogr2%2Fstrip%7CimageMogr2%2Fthumbnail%2F%21200x200r%2Fgravity%2FCenter%2Fcrop%2F%21200x200%2Fquality%2F90";
							"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=10&id=11242&in_tab=1";
							"sub_title" = "\U76f8\U8ddd<font color='#ff9d00'>171</font>\U516c\U91cc";
							title = "\U5f00\U5c01";
						},
						{
							"img_url" = "http://file109.mafengwo.net/s7/M00/47/7A/wKgB6lQjjXSAapU6AAC_zBEOecU90.jpeg?imageMogr2%2Fstrip%7CimageMogr2%2Fthumbnail%2F%21200x200r%2Fgravity%2FCenter%2Fcrop%2F%21200x200%2Fquality%2F90";
							"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=10&id=13738&in_tab=1";
							"sub_title" = "\U76f8\U8ddd<font color='#ff9d00'>141</font>\U516c\U91cc";
							title = "\U8fd0\U57ce";
						},
						{
							"img_url" = "http://file102.mafengwo.net/s7/M00/F5/CE/wKgB6lTIq5GAKts0AARAEiT5gGA88.jpeg?imageMogr2%2Fstrip%7CimageMogr2%2Fthumbnail%2F%21200x200r%2Fgravity%2FCenter%2Fcrop%2F%21200x200%2Fquality%2F90";
							"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=10&id=11694&in_tab=1";
							"sub_title" = "\U76f8\U8ddd<font color='#ff9d00'>162</font>\U516c\U91cc";
							title = "\U90ed\U4eae";
						},
						{
							"img_url" = "http://file106.mafengwo.net/s5/M00/10/61/wKgB3FIK_xGALM35AAXZEWnq_VM23.jpeg?imageMogr2%2Fstrip%7CimageMogr2%2Fthumbnail%2F%21200x200r%2Fgravity%2FCenter%2Fcrop%2F%21200x200%2Fquality%2F90";
							"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=10&id=10794&in_tab=1";
							"sub_title" = "\U76f8\U8ddd<font color='#ff9d00'>109</font>\U516c\U91cc";
							title = "\U90d1\U5dde";
						},
						{
							"img_url" = "http://file111.mafengwo.net/s7/M00/F7/33/wKgB6lTIrV6AXy5xAAcpgZr2zAI73.jpeg?imageMogr2%2Fstrip%7CimageMogr2%2Fthumbnail%2F%21200x200r%2Fgravity%2FCenter%2Fcrop%2F%21200x200%2Fquality%2F90";
							"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=10&id=15228&in_tab=1";
							"sub_title" = "\U76f8\U8ddd<font color='#ff9d00'>53</font>\U516c\U91cc";
							title = "\U5d69\U5c71";
						},
					);
					title = "\U5468\U8fb9\U76ee\U7684\U5730";
				};
				style = "6_squares";
			},
		);
		mdd = {
			"album_example" = (
				"http://file108.mafengwo.net/s6/M00/A4/B2/wKgB4lIl_3qAMKq6ABGjWZfMu3o95.jpeg?imageMogr2%2Fstrip%7CimageMogr2%2Fthumbnail%2F%21210x150r%2Fgravity%2FCenter%2Fcrop%2F%21210x150%2Fquality%2F90",
				"http://file102.mafengwo.net/s5/M00/89/CE/wKgB3FHJyBaAdjlXAA0AomsyDGw55.jpeg?imageMogr2%2Fstrip%7CimageMogr2%2Fthumbnail%2F%21210x150r%2Fgravity%2FCenter%2Fcrop%2F%21210x150%2Fquality%2F90",
				"http://file106.mafengwo.net/s6/M00/F5/DD/wKgB4lMEENeAN7kOAAGJq0rFamA13.jpeg?imageMogr2%2Fstrip%7CimageMogr2%2Fthumbnail%2F%21210x150r%2Fgravity%2FCenter%2Fcrop%2F%21210x150%2Fquality%2F90",
			);
			"header_img" = "http://file106.mafengwo.net/s6/M00/2B/EE/wKgB4lNwdpeAbvZiAAWcFRXe2Po83.jpeg?imageMogr2%2Fstrip%7CimageMogr2%2Fthumbnail%2F%21750x563r%2Fgravity%2FCenter%2Fcrop%2F%21750x563%2Fquality%2F90";
			id = 10094;
			"is_country" = 0;
			"is_fav" = 0;
			lat = "34.618517213797";
			lng = "112.45330810547";
			"map_provider" = amap;
			name = "\U6d1b\U9633";
			"num_album" = 98767;
			"num_url" = {
				"jump_url" = "http://m.mafengwo.cn/nb/public/sharejump.php?type=70&mddid=10094";
				num = 542;
				title = "\U8fc7\U53bb24\U5c0f\U65f6";
			};
			parent = {
				id = 12967;
				name = "\U6cb3\U5357";
			};
		};
	};
	rc = 0;
	rm = "";
}